body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellowgreen;
    padding: 10px;
    gap: 10px;
}

h1{
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    font-family: helvetica;
}

.container {
    margin-top: 10px;
    height: 800px;
    width: 800px;
    border: 10px solid olivedrab;
    background-color: white;

    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1 1 0;
}

.box{
    background-color: white;
    border: 1px solid black;
    flex: 1 1 0;
}

.buttons{
    display: flex;
    gap: 10px;
}

button{
    width: 100px;
    height: 40px;
}